/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body{
     font-size:16px;
     
 }

.container{
    width:600px;
    margin:0 auto;
    padding: 0 20px;
}

h2{
    border-bottom : solid 1px #333; 
    font-size:24px;
    border-bottom-style: solid;
}

h3{
    font-weight: bold;
}

ul{
    background-color:white;
  /*counter-reset:list;*/
  list-style-type:none;
  /*font: 14px/1.6 'arial narrow', sans-serif;*/
  /*padding:0;*/
}

ul li{
    padding:10px;
}


.listItem{
    border:1px solid #999;
    width:80%;
    /*padding:20px;*/
}

/*.title{*/
/*    font-size:18px;*/
/*    border-bottom:1px solid #999;*/
/*}*/

.title {
	display: inline-block;
	width:100%;
	/*padding: 0.1em 0.3em;*/
	transition: all .3s;
	background-color:#e6e6fa;
	letter-spacing: 0.2em;
}
.title:hover {
	color: #fff;
	background-color: #00BCD4;
}

.body{
    padding:20px;
    font-size:12px;
}

.newPost{
    text-align: right;
}

input{
    width:500px;
}

textarea{
    width:500px;
    height:400px;
}

input[type="submit" i]{
    width:300px;
}

.error{
    color:red;
    font-weight:bold;
}

.title a{
    text-decoration:none;
    color:black;
}

.title a:hover{
    color:white;
}